.hud {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 10;
}

.controles-jogo {
  position: fixed;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}


#btnIniciar {
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 60;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#statusJogo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;

  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 10px 16px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
}

.escondido {
  display: none;
}


.lista-territorios {
  margin-top: 8px;
  width: 180px;
  max-height: 180px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.70);
  color: white;
  padding: 10px;
  border-radius: 12px;
  font-size: 13px;
}

.lista-territorios ul {
  margin: 8px 0 0 0;
  padding-left: 18px;
}

.lista-territorios li {
  margin-bottom: 4px;
}

.timer {
  background: rgba(0,0,0,0.50);
  padding: 15px 25px;
  border-radius: 40px;
  border: 2px solid white;
}

#tempo {
  color: white;
  font-size: 32px;
  font-family: monospace;
}

#nomePais {
  background: rgba(0,0,0,0.85);
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  white-space: nowrap;
}

h1 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  color: white;
  font-size: 40px;
  font-weight: bold;
  z-index: 6;
  text-align: center;
}

.vermelho { background: #f10f31; }
.azul { background: #3498db; }

.numero { font-size: 22px; }
.porcentagem { font-size: 16px; }

.box {
  width: 140px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
  font-weight: bold;
  transform: translateX(-30px);
}

.box img {

  width: 70px;
  height: 70px;

  border-radius: 50%;

  object-fit: cover;

  image-rendering: pixelated;

}

.ativo {
  transform: translateX(-55px) scale(1.05);
  box-shadow: 0 0 20px rgba(255,255,255,0.8);
}